div.contact {
  height: 85vh;
  background-color: #161616;
}

.contact_container {
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 15rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.contact_heading_2 {
  font-size: 3rem;
  font-weight: 300;
  /* padding: 150px; */
  color: #e2e2e2;
}

.contact_text {
  font-size: 1rem;
  color: #e2e2e2;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.contact_email {
  text-decoration: none;
  color: #a33327;
  font-size: 2rem;
  /* transition: transform 0.25s; */
}

.contact_icon {
  fill: #a33327;
  height: 6rem;
  width: 6rem;
  margin: 1rem;
}
