div.contact {
  min-height: 60vh;
  background-color: #f0f0f0; /* 2e2e2e  */
  display: flex;
}

.contact-container {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contact-heading-2 {
  font-size: 3rem;
  font-weight: 300;
  color: #000;
}

.contact-text {
  font-size: 1rem;
  color: #000;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}

.contact-email {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 10px 20px;
  color: #314455;
  border: 2px solid #314455;
}

.contact-email:hover {
  color: #e2e2e2;
  background-color: #314455;
  transition: 0.3s ease-in-out;
}

.icon-linkedin {
  fill: #0275b4;
  height: 6rem;
  width: 6rem;
  margin: 1rem;
}

.icon-github {
  fill: #161614;
  height: 6rem;
  width: 6rem;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }

  .contact-heading-2 {
    font-size: 2rem;
  }

  .contact-text {
    font-size: 0.89em;
    padding-bottom: 1rem;
  }

  .contact-email {
    font-size: 1.5rem;
  }

  .icon-linkedin {
    height: 4rem;
    width: 4rem;
  }

  .icon-github {
    height: 4rem;
    width: 4rem;
  }
}
