@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.nav-collapse {
  background-color: #1d2731;
  padding: 0;
}

.logo {
  color: #e2e2e2;
  letter-spacing: 4px;
  font-size: 1.5rem;
  font-weight: 300;
}

.nav-links li {
  list-style: none;
  float: left;
}

.nav-links p {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1rem;
  padding: 10px;
}

.logo:hover {
  color: #c1c1c1;
  cursor: pointer;
}

.nav-links p:hover {
  cursor: pointer;
  background-color: #334456;
}

.burger div {
  width: 25px;
  height: 3px;
  color: #e2e2e2;
  margin: 5px;
  cursor: pointer;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {
  nav {
    position: fixed;
  }

  .logo {
    font-size: 0.8rem;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    min-height: 100vh;
    top: 3rem;
    background-color: #1d2731;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links p {
    letter-spacing: normal;
    font-size: 1rem;
    cursor: pointer;
  }

  .burger {
    display: block;
    cursor: pointer;
  }  
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Mobile Menu Icon */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
