@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.about-container {
  background-color: #fff;
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

hr {
  border: solid 0.5px #000;
}

.about-inner-container {
  max-width: 60%;
  padding: 7rem 0;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

.about-image {
  float: left;
  max-width: 50%;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.about-text {
  float: right;
  width: 50%;
  height: auto;
  padding: 5px;
  padding: 0 1rem 0 1rem;
}

.about-heading-2 {
  font-size: 2rem;
  font-weight: 300;
  color: #1d2731;
}

.about-description {
  font-size: 1rem;
  color: #000;
  margin-top: 1.5rem;
  line-height: 1.5;
}

.about-link {
  color: #00009c;
  text-decoration: none;
  font-weight: 1000;
}

.about-link:link {
  color: #00009c;
}

.about-link:visited {
  color: #00009c;
}

@media only screen and (max-width: 1200px) {
  .about-container {
    width: 80%;
  }

  .about-inner-container {
    min-width: 90%;
  }

  .about-heading-2 {
    font-size: 1.5rem;
  }

  .about-description {
    font-size: 0.8rem;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .about-container {
    width: 100%;
  }

  .about-inner-container {
    min-width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    width: 100%;
    text-align: center;
  }

  .about-inner-container {
    min-width: 100%;
    text-align: center;
    padding-top: 5rem;    
  }

  .about-image {
    width: 100%;
    float: none;
    display: inline-block;
    margin-bottom: 3rem;
  }

  .about-text {
    width: 100%;
    margin-top: -1.5rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  .about-description {
    font-size: 0.8rem;
  }
}
