@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

div.about {
  height: 100vh;
  background-color: #161616;
}

.about_container {
  height: 100vh;
  padding-top: 5rem;
  /* padding-left: 1rem; */
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.avatar_image {
  width: 20%;
  height: 20%;
}

.about_text {
  display: inline-block;
  width: 50%;
}

.about_heading_2 {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
  color: #e2e2e2;
}

.about_description {
  font-size: 1rem;
  color: #e2e2e2;
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  line-height: 1.5;
}

.about_row {
  background-color: #242424;
  padding-top: 1rem;
  width: 45%;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.about_column {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about_card {
  padding: 1rem;
}

.hobby_heading_2 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
  color: #e2e2e2;
}

.hobby_heading_5 {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 0.5rem;
  color: #e2e2e2;
}

.hobby-icons {
  width: 5rem;
  height: 5rem;
  fill: black;
}