div.skills {
  height: 100vh;
  background-color: #161616;
}

.skills-container {
  height: 100vh;
  padding-top: 5rem;
  /* padding-left: 1rem; */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}

.skills-heading-1 {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
  color: #e2e2e2;
}

.skills-heading-2 {
  font-size: 2.5rem;
  font-weight: 300;
  /* padding-bottom: 1.5rem; */
  color: #e2e2e2;
}

.divider-web {
  display: block;
  margin: 5px 0;
  width: 120px;
  height: 1px;
  background-color: #e2e2e2;
}
.divider-mobile {
  display: block;
  margin: 5px 0;
  width: 160px;
  height: 1px;
  background-color: #e2e2e2;
}
.divider-applications {
  display: block;
  margin: 5px 0;
  width: 270px;
  height: 1px;
  background-color: #e2e2e2;
}

.skills-section {
  padding: 15px 100px 100px 100px;
}

.skills-row {
  float: left;
  text-align: left;
  width: 80%;
}

.item-list {
  /* border: 1px solid red; */
  padding: 0;
}

.item-list li {
  padding: 1rem;
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 1rem 1rem 1rem 0rem;
  background-color: #242424;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.item-list p {
  padding-top: 10px;
  color: #e2e2e2;
}

.item-icon {
  height: 5rem;
  width: 5rem;
  /* padding: 0.5rem; */
  /* border: 1px solid red; */
}

.item-list li:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.6);
}

/* Responsive columns */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */