div.skills {
  min-height: 100vh;
  /* background-color: #161616; */
  background-color: #f0f0f0;
  display: flex;
}

.skills-container {
  height: auto;
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-heading-1 {
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
  color: #000;
}

.skills-heading-2 {
  font-size: 2rem;
  font-weight: 300;
  color: #000;
}

.skills-section {
  padding: 15px 100px 100px 300px;
}

.skills-row {
  float: left;
  text-align: left;
  width: 80%;
}

.item-list li {
  padding: 1rem;
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 1rem 1rem 1rem 0rem;
  background-color: #1d2731; /* 242424 */
  border-radius: 5px;
}

.item-list p {
  padding-top: 10px;
  color: #e2e2e2;
}

.item-icon {
  height: 5rem;
  width: 5rem;
}

.item-list li:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
  .skills-container {
    width: 100%;
  }

  .skills-heading-1 {
    font-size: 2rem;
    padding-bottom: 0;
  }

  .skills-section {
    height: 100%;
    float: left;
    padding: 10px;
  }

  .skills-row {
    width: 100%;
  }

  .skills-heading-2 {
    font-size: 1.5rem;
  }

  .item-list li {
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .item-list p {
    font-size: 0.8rem;
    padding-top: 4px;
  }

  .item-icon {
    height: 3.5rem;
    width: 3.5rem;
  }

  .divider-web {
    width: 80px;
  }

  .divider-mobile {
    width: 110px;
  }

  .divider-applications {
    width: 170px;
  }
}
