div.footer {
  min-height: 15vh;
  background-color: #2e2e2e;
  display: flex;
}

.footer-container {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.base-footer {
  padding: 4rem;
  font-size: 1rem;
  color: #e2e2e2;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .base-footer {
    font-size: 0.8rem;
  }
}
